{
  "apexInsertFinalNewline": false,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "trailingComma": "none",
  "overrides": [
    {
    "files": "**/lwc/**/*.html",
    "options": { "parser": "lwc" }
    },
    {
    "files": "*.{cmp,page,component}",
    "options": { "parser": "html" }
    }
  ],
  "printWidth": 160,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": true
}