:host{
	height: 100%;
}
.page{
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 70%;
	max-width: 1025px;
	height: 100%;
}
.page.full-width{
	width: 100%;
	max-width: none;
}
@media all and (max-width: 48em){
	:host{
		width: 100%;
	}
}
.slds-modal__content{
	flex: 1;
	position: relative;
}
.slds-modal__footer{
	text-align: center;
}